In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\os\anaconda3\lib\site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\os\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

WARNING: Ignoring invalid distribution -tatsmodels (c:\users\os\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\os\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\os\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\os\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\os\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\os\anaconda3\lib\site-packages)

In [2]:
import pyspark

In [3]:
import pandas as pd

pd.read_csv('iris.csv')

     sepal_length  sepal_width  petal_length  petal_width  plant
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In order to use pyspark so at 1st we have to start pyspark session

In [22]:
from pyspark.sql import SparkSession

In [23]:
spark = SparkSession.builder.appName('Practise_pyspark').getOrCreate()

In [24]:
spark

In [25]:
# reading dataset
df = spark.read.csv('iris.csv') 
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string]

In [26]:
df = spark.read.csv('iris.csv')
df.show()

+------------+-----------+------------+-----------+-----+
|         _c0|        _c1|         _c2|        _c3|  _c4|
+------------+-----------+------------+-----------+-----+
|sepal_length|sepal_width|petal_length|petal_width|plant|
|         5.1|        3.5|         1.4|        0.2|    0|
|         4.9|          3|         1.4|        0.2|    0|
|         4.7|        3.2|         1.3|        0.2|    0|
|         4.6|        3.1|         1.5|        0.2|    0|
|           5|        3.6|         1.4|        0.2|    0|
|         5.4|        3.9|         1.7|        0.4|    0|
|         4.6|        3.4|         1.4|        0.3|    0|
|           5|        3.4|         1.5|        0.2|    0|
|         4.4|        2.9|         1.4|        0.2|    0|
|         4.9|        3.1|         1.5|        0.1|    0|
|         5.4|        3.7|         1.5|        0.2|    0|
|         4.8|        3.4|         1.6|        0.2|    0|
|         4.8|          3|         1.4|        0.1|    0|
|         4.3|          3|         1.1|        0.1|    0|
|         5.8|          4|         1.2|        0.2|    0|
|         5.7|        4.4|         1.5|        0.4|    0|
|         5.4|        3.9|         1.3|        0.4|    0|
|         5.1|        3.5|         1.4|        0.3|    0|
|         5.7|        3.8|         1.7|        0.3|    0|
+------------+-----------+------------+-----------+-----+
only showing top 20 rows

In [33]:
df = spark.read.option('header','true').csv('iris.csv') #here in output we are getting datatype as string by default 
df

DataFrame[sepal_length: string, sepal_width: string, petal_length: string, petal_width: string, plant: string]

In [34]:
df.printSchema()

root
 |-- sepal_length: string (nullable = true)
 |-- sepal_width: string (nullable = true)
 |-- petal_length: string (nullable = true)
 |-- petal_width: string (nullable = true)
 |-- plant: string (nullable = true)

In [35]:
# to resolve above issue 

df = spark.read.option('header','true').csv('iris.csv',inferSchema = True)
df

DataFrame[sepal_length: double, sepal_width: double, petal_length: double, petal_width: double, plant: int]

In [14]:
#df = spark.read.option('header','true').csv('iris.csv')
#df.show()

+------------+-----------+------------+-----------+-----+
|sepal_length|sepal_width|petal_length|petal_width|plant|
+------------+-----------+------------+-----------+-----+
|         5.1|        3.5|         1.4|        0.2|    0|
|         4.9|          3|         1.4|        0.2|    0|
|         4.7|        3.2|         1.3|        0.2|    0|
|         4.6|        3.1|         1.5|        0.2|    0|
|           5|        3.6|         1.4|        0.2|    0|
|         5.4|        3.9|         1.7|        0.4|    0|
|         4.6|        3.4|         1.4|        0.3|    0|
|           5|        3.4|         1.5|        0.2|    0|
|         4.4|        2.9|         1.4|        0.2|    0|
|         4.9|        3.1|         1.5|        0.1|    0|
|         5.4|        3.7|         1.5|        0.2|    0|
|         4.8|        3.4|         1.6|        0.2|    0|
|         4.8|          3|         1.4|        0.1|    0|
|         4.3|          3|         1.1|        0.1|    0|
|         5.8|          4|         1.2|        0.2|    0|
|         5.7|        4.4|         1.5|        0.4|    0|
|         5.4|        3.9|         1.3|        0.4|    0|
|         5.1|        3.5|         1.4|        0.3|    0|
|         5.7|        3.8|         1.7|        0.3|    0|
|         5.1|        3.8|         1.5|        0.3|    0|
+------------+-----------+------------+-----------+-----+
only showing top 20 rows

In [18]:
#df = spark.read.option('header','true').csv('iris.csv').show()
#df

+------------+-----------+------------+-----------+-----+
|sepal_length|sepal_width|petal_length|petal_width|plant|
+------------+-----------+------------+-----------+-----+
|         5.1|        3.5|         1.4|        0.2|    0|
|         4.9|          3|         1.4|        0.2|    0|
|         4.7|        3.2|         1.3|        0.2|    0|
|         4.6|        3.1|         1.5|        0.2|    0|
|           5|        3.6|         1.4|        0.2|    0|
|         5.4|        3.9|         1.7|        0.4|    0|
|         4.6|        3.4|         1.4|        0.3|    0|
|           5|        3.4|         1.5|        0.2|    0|
|         4.4|        2.9|         1.4|        0.2|    0|
|         4.9|        3.1|         1.5|        0.1|    0|
|         5.4|        3.7|         1.5|        0.2|    0|
|         4.8|        3.4|         1.6|        0.2|    0|
|         4.8|          3|         1.4|        0.1|    0|
|         4.3|          3|         1.1|        0.1|    0|
|         5.8|          4|         1.2|        0.2|    0|
|         5.7|        4.4|         1.5|        0.4|    0|
|         5.4|        3.9|         1.3|        0.4|    0|
|         5.1|        3.5|         1.4|        0.3|    0|
|         5.7|        3.8|         1.7|        0.3|    0|
|         5.1|        3.8|         1.5|        0.3|    0|
+------------+-----------+------------+-----------+-----+
only showing top 20 rows

In [36]:
type(df)

pyspark.sql.dataframe.DataFrame

In [37]:
df.printSchema()  #it is like info() in pandas

root
 |-- sepal_length: double (nullable = true)
 |-- sepal_width: double (nullable = true)
 |-- petal_length: double (nullable = true)
 |-- petal_width: double (nullable = true)
 |-- plant: integer (nullable = true)

In [39]:
#reading dataset in a one more different way

df = spark.read.csv('iris.csv', header=True, inferSchema = True)
df.show()

+------------+-----------+------------+-----------+-----+
|sepal_length|sepal_width|petal_length|petal_width|plant|
+------------+-----------+------------+-----------+-----+
|         5.1|        3.5|         1.4|        0.2|    0|
|         4.9|        3.0|         1.4|        0.2|    0|
|         4.7|        3.2|         1.3|        0.2|    0|
|         4.6|        3.1|         1.5|        0.2|    0|
|         5.0|        3.6|         1.4|        0.2|    0|
|         5.4|        3.9|         1.7|        0.4|    0|
|         4.6|        3.4|         1.4|        0.3|    0|
|         5.0|        3.4|         1.5|        0.2|    0|
|         4.4|        2.9|         1.4|        0.2|    0|
|         4.9|        3.1|         1.5|        0.1|    0|
|         5.4|        3.7|         1.5|        0.2|    0|
|         4.8|        3.4|         1.6|        0.2|    0|
|         4.8|        3.0|         1.4|        0.1|    0|
|         4.3|        3.0|         1.1|        0.1|    0|
|         5.8|        4.0|         1.2|        0.2|    0|
|         5.7|        4.4|         1.5|        0.4|    0|
|         5.4|        3.9|         1.3|        0.4|    0|
|         5.1|        3.5|         1.4|        0.3|    0|
|         5.7|        3.8|         1.7|        0.3|    0|
|         5.1|        3.8|         1.5|        0.3|    0|
+------------+-----------+------------+-----------+-----+
only showing top 20 rows

In [40]:
type(df)

pyspark.sql.dataframe.DataFrame

In [41]:
df.printSchema()

root
 |-- sepal_length: double (nullable = true)
 |-- sepal_width: double (nullable = true)
 |-- petal_length: double (nullable = true)
 |-- petal_width: double (nullable = true)
 |-- plant: integer (nullable = true)

In [43]:
# selecting columns 

df.columns

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'plant']

In [44]:
df.head(3) # we are getting data in list format in spark but in pandas it is in dataframe

[Row(sepal_length=5.1, sepal_width=3.5, petal_length=1.4, petal_width=0.2, plant=0),
 Row(sepal_length=4.9, sepal_width=3.0, petal_length=1.4, petal_width=0.2, plant=0),
 Row(sepal_length=4.7, sepal_width=3.2, petal_length=1.3, petal_width=0.2, plant=0)]

In [45]:
#or accessing specific columns

df.select('sepal_length')

DataFrame[sepal_length: double]

In [46]:
df.select('sepal_length').show()

+------------+
|sepal_length|
+------------+
|         5.1|
|         4.9|
|         4.7|
|         4.6|
|         5.0|
|         5.4|
|         4.6|
|         5.0|
|         4.4|
|         4.9|
|         5.4|
|         4.8|
|         4.8|
|         4.3|
|         5.8|
|         5.7|
|         5.4|
|         5.1|
|         5.7|
|         5.1|
+------------+
only showing top 20 rows

In [47]:
type(df.select('sepal_length'))

pyspark.sql.dataframe.DataFrame

In [48]:
df.select(['sepal_length','petal_length'])

DataFrame[sepal_length: double, petal_length: double]

In [49]:
df.select(['sepal_length','petal_length']).show()

+------------+------------+
|sepal_length|petal_length|
+------------+------------+
|         5.1|         1.4|
|         4.9|         1.4|
|         4.7|         1.3|
|         4.6|         1.5|
|         5.0|         1.4|
|         5.4|         1.7|
|         4.6|         1.4|
|         5.0|         1.5|
|         4.4|         1.4|
|         4.9|         1.5|
|         5.4|         1.5|
|         4.8|         1.6|
|         4.8|         1.4|
|         4.3|         1.1|
|         5.8|         1.2|
|         5.7|         1.5|
|         5.4|         1.3|
|         5.1|         1.4|
|         5.7|         1.7|
|         5.1|         1.5|
+------------+------------+
only showing top 20 rows

Slicing won't be working in pyspark

In [50]:
df['petal_length']

Column<'petal_length'>

In [51]:
df.dtypes #we can also check datatypes like this

[('sepal_length', 'double'),
 ('sepal_width', 'double'),
 ('petal_length', 'double'),
 ('petal_width', 'double'),
 ('plant', 'int')]

In [52]:
#checking out describe function which is also be in pandas

df.describe()

DataFrame[summary: string, sepal_length: string, sepal_width: string, petal_length: string, petal_width: string, plant: string]

In [53]:
df.describe().show()

+-------+------------------+-------------------+------------------+------------------+------------------+
|summary|      sepal_length|        sepal_width|      petal_length|       petal_width|             plant|
+-------+------------------+-------------------+------------------+------------------+------------------+
|  count|               150|                150|               150|               150|               150|
|   mean| 5.843333333333335| 3.0540000000000007|3.7586666666666693|1.1986666666666672|               1.0|
| stddev|0.8280661279778637|0.43359431136217375| 1.764420419952262|0.7631607417008414|0.8192319205190406|
|    min|               4.3|                2.0|               1.0|               0.1|                 0|
|    max|               7.9|                4.4|               6.9|               2.5|                 2|
+-------+------------------+-------------------+------------------+------------------+------------------+

If we have string column in our dataset it represents the column but will not give mean and stddev values well ofcourse it is string

In [59]:
# adding the columns 
df=df.withColumn('big_petal_length', df['petal_length']*2)
df.show()

+------------+-----------+------------+-----------+-----+----------------+
|sepal_length|sepal_width|petal_length|petal_width|plant|big_petal_length|
+------------+-----------+------------+-----------+-----+----------------+
|         5.1|        3.5|         1.4|        0.2|    0|             2.8|
|         4.9|        3.0|         1.4|        0.2|    0|             2.8|
|         4.7|        3.2|         1.3|        0.2|    0|             2.6|
|         4.6|        3.1|         1.5|        0.2|    0|             3.0|
|         5.0|        3.6|         1.4|        0.2|    0|             2.8|
|         5.4|        3.9|         1.7|        0.4|    0|             3.4|
|         4.6|        3.4|         1.4|        0.3|    0|             2.8|
|         5.0|        3.4|         1.5|        0.2|    0|             3.0|
|         4.4|        2.9|         1.4|        0.2|    0|             2.8|
|         4.9|        3.1|         1.5|        0.1|    0|             3.0|
|         5.4|        3.7|         1.5|        0.2|    0|             3.0|
|         4.8|        3.4|         1.6|        0.2|    0|             3.2|
|         4.8|        3.0|         1.4|        0.1|    0|             2.8|
|         4.3|        3.0|         1.1|        0.1|    0|             2.2|
|         5.8|        4.0|         1.2|        0.2|    0|             2.4|
|         5.7|        4.4|         1.5|        0.4|    0|             3.0|
|         5.4|        3.9|         1.3|        0.4|    0|             2.6|
|         5.1|        3.5|         1.4|        0.3|    0|             2.8|
|         5.7|        3.8|         1.7|        0.3|    0|             3.4|
|         5.1|        3.8|         1.5|        0.3|    0|             3.0|
+------------+-----------+------------+-----------+-----+----------------+
only showing top 20 rows

In [62]:
# to rename the column
df = df.withColumnRenamed('big_petal_length','big_petals')
df.show()

+------------+-----------+------------+-----------+-----+----------+
|sepal_length|sepal_width|petal_length|petal_width|plant|big_petals|
+------------+-----------+------------+-----------+-----+----------+
|         5.1|        3.5|         1.4|        0.2|    0|       2.8|
|         4.9|        3.0|         1.4|        0.2|    0|       2.8|
|         4.7|        3.2|         1.3|        0.2|    0|       2.6|
|         4.6|        3.1|         1.5|        0.2|    0|       3.0|
|         5.0|        3.6|         1.4|        0.2|    0|       2.8|
|         5.4|        3.9|         1.7|        0.4|    0|       3.4|
|         4.6|        3.4|         1.4|        0.3|    0|       2.8|
|         5.0|        3.4|         1.5|        0.2|    0|       3.0|
|         4.4|        2.9|         1.4|        0.2|    0|       2.8|
|         4.9|        3.1|         1.5|        0.1|    0|       3.0|
|         5.4|        3.7|         1.5|        0.2|    0|       3.0|
|         4.8|        3.4|         1.6|        0.2|    0|       3.2|
|         4.8|        3.0|         1.4|        0.1|    0|       2.8|
|         4.3|        3.0|         1.1|        0.1|    0|       2.2|
|         5.8|        4.0|         1.2|        0.2|    0|       2.4|
|         5.7|        4.4|         1.5|        0.4|    0|       3.0|
|         5.4|        3.9|         1.3|        0.4|    0|       2.6|
|         5.1|        3.5|         1.4|        0.3|    0|       2.8|
|         5.7|        3.8|         1.7|        0.3|    0|       3.4|
|         5.1|        3.8|         1.5|        0.3|    0|       3.0|
+------------+-----------+------------+-----------+-----+----------+
only showing top 20 rows

In [58]:
# to drop the columns

df=df.drop('big_petal_length')
df.show()

+------------+-----------+------------+-----------+-----+
|sepal_length|sepal_width|petal_length|petal_width|plant|
+------------+-----------+------------+-----------+-----+
|         5.1|        3.5|         1.4|        0.2|    0|
|         4.9|        3.0|         1.4|        0.2|    0|
|         4.7|        3.2|         1.3|        0.2|    0|
|         4.6|        3.1|         1.5|        0.2|    0|
|         5.0|        3.6|         1.4|        0.2|    0|
|         5.4|        3.9|         1.7|        0.4|    0|
|         4.6|        3.4|         1.4|        0.3|    0|
|         5.0|        3.4|         1.5|        0.2|    0|
|         4.4|        2.9|         1.4|        0.2|    0|
|         4.9|        3.1|         1.5|        0.1|    0|
|         5.4|        3.7|         1.5|        0.2|    0|
|         4.8|        3.4|         1.6|        0.2|    0|
|         4.8|        3.0|         1.4|        0.1|    0|
|         4.3|        3.0|         1.1|        0.1|    0|
|         5.8|        4.0|         1.2|        0.2|    0|
|         5.7|        4.4|         1.5|        0.4|    0|
|         5.4|        3.9|         1.3|        0.4|    0|
|         5.1|        3.5|         1.4|        0.3|    0|
|         5.7|        3.8|         1.7|        0.3|    0|
|         5.1|        3.8|         1.5|        0.3|    0|
+------------+-----------+------------+-----------+-----+
only showing top 20 rows